USE [master]
GO
/****** Object:  Database [WMS]    Script Date: 03/06/2024 6:49:45 pm ******/
CREATE DATABASE [WMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WMS', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WMS_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WMS]
GO
/****** Object:  Table [dbo].[tblBins]    Script Date: 03/06/2024 6:49:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBins](
	[binID] [int] IDENTITY(1,1) NOT NULL,
	[binNumber] [nvarchar](max) NULL,
	[locationID] [int] NOT NULL,
	[isPopulated] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblItems]    Script Date: 03/06/2024 6:49:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemNo] [nvarchar](50) NOT NULL,
	[ItemDesc] [nvarchar](max) NULL,
	[ItemClass] [nvarchar](max) NULL,
	[ItemClassDesc] [nvarchar](max) NULL,
	[ItemSubType] [nvarchar](50) NULL,
	[ItemSubTypeDesc] [nvarchar](max) NULL,
	[SerialNumber] [nvarchar](max) NULL,
	[BinID] [int] NOT NULL,
	[ScannedBy] [int] NULL,
	[ScannedDatetime] [datetime] NULL,
	[TotalQuantity] [float] NOT NULL,
 CONSTRAINT [PK_tblItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLocations]    Script Date: 03/06/2024 6:49:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLocations](
	[locationID] [int] IDENTITY(1,1) NOT NULL,
	[locationName] [nvarchar](max) NOT NULL,
	[warehouseID] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblWarehouses]    Script Date: 03/06/2024 6:49:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWarehouses](
	[warehouseID] [int] IDENTITY(1,1) NOT NULL,
	[warehouseName] [nvarchar](max) NOT NULL,
	[warehouseAddress] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 03/06/2024 6:49:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[RollsID] [int] NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[IsEnabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 03/06/2024 6:49:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RollsId] [int] IDENTITY(1,1) NOT NULL,
	[RollsDesc] [varchar](100) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRolesPermission]    Script Date: 03/06/2024 6:49:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRolesPermission](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[Module] [varchar](100) NOT NULL,
	[Permission] [nvarchar](50) NOT NULL,
	[RollsId] [int] NOT NULL,
	[IsEnable] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Action] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
